Firmware/.cache/*
Firmware/build/*
Firmware/.clangd
Firmware/.DS_Store
Firmware/sdkconfig
Firmware/sdkconfig.old

__pycache__/
*.pyc
GUI/controller/__pycache__/*
GUI/layout/__pycache__/*
output/
.venv/

